## Part 1 - Python Basics

In the cell below, define two variables, `x` and `y`, that contain the number 10 as a float and the string "Hello, World!"

In [1]:
# x = float(10)
x = 10.
y = "Hello, World!"

Create two new variables, `x_type` and `y_type` that contain the types of `x` and `y`, respectively.  Make sure that the printed values of these variables agree with the assumptions above.  If not, please modify the above code to create the correct types!

In [2]:
x_type = type(x)
y_type = type(y)
print(x_type, y_type)

<class 'float'> <class 'str'>

Create a new variable `z` that stores the value `3x - 1`.

In [3]:
z = 3*x - 1
print(z)

29.0

Create a new variable `y_len` that stores the number of characters in your string variable, `y`.

In [4]:
y_len = len(y)
print(y_len)

13

Convert the value of `x` from a float to a string, and store in a new variable `x_str`.

In [5]:
x_str = str(x)
print(x, x_str, type(x_str))

10.0 10.0 <class 'str'>

## Part 2 - Lists and Functions

Create a variable `days` that stores a list of the days of the week, starting with Sunday.

In [6]:
days = ['sun', 'mon', 'tues', 'wed', 'thurs', 'fri', 'sat']
days

['sun', 'mon', 'tues', 'wed', 'thurs', 'fri', 'sat']

Create a new variable, `num_days`, that stores the length of the `days` list starting with Sunday.

In [7]:
num_days = len(days)
print(num_days)

7

Create a function `get_day_by_index` that takes two arguments, a list of strings and an integer index, and returns the element of the list with this index.

In [8]:
def get_day_by_index(string_list, index):
    return string_list[index]

Call the function `get_day_by_index` with the appropriate arguments so that it returns "Thursday".

In [9]:
get_day_by_index(days, 4)

'thurs'

Use a `for` loop to loop over your `days` list and print each day and its index.  Your output should look something like:

    (Sunday, 0)
    (Monday, 1)
    ...

In [10]:
# Use "range" for indexed-based loop
for i in range(7):
    print((days[i], i))

('sun', 0)
('mon', 1)
('tues', 2)
('wed', 3)
('thurs', 4)
('fri', 5)
('sat', 6)

In [11]:
# Use "enumerate" to loop over index AND data
for i, day in enumerate(days):
    print(day, i)

sun 0
mon 1
tues 2
wed 3
thurs 4
fri 5
sat 6

In [12]:
# Loop over days and keep track of your own index
i = 0
for day in days:
    print(day, i)
    # i = i + 1
    i += 1

sun 0
mon 1
tues 2
wed 3
thurs 4
fri 5
sat 6

Sort the list with A-Z ordering using the `sorted` function.

In [13]:
sorted(days)

['fri', 'mon', 'sat', 'sun', 'thurs', 'tues', 'wed']

Sort the list with Z-A ordering with the `sorted` function.  Recall: use `help(sorted)` to see documentation for the `sorted` function.

In [14]:
sorted(days, reverse=True)

['wed', 'tues', 'thurs', 'sun', 'sat', 'mon', 'fri']

In [15]:
# You can also use [::-1] to reverse a list
sorted(days)[::-1]

['wed', 'tues', 'thurs', 'sun', 'sat', 'mon', 'fri']

## Part 3 - Pandas Dataframes

Use the correct import statement to import the `pandas` module as a variable `pd`.

In [16]:
import pandas as pd

Use the `pd.read_csv` method to read the `tmdb_5000_movies.csv` files into a dataframe named `df`.

In [19]:
# Make sure to change the path to wherever your csv file actually lives!
df = pd.read_csv('../../data/tmdb_5000_movies/tmdb_5000_movies.csv')

Print the shape of `df`.

In [21]:
shape = df.shape
print(shape)

(4803, 20)

Print the first 5 rows of `df`.

In [22]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

Store the row and column labels of `df` into two variables, `rows` and `columns`.

In [23]:
#rows = list(df.index)
rows = df.index.tolist()

#columns = list(df.columns)
columns = df.columns.tolist()

type(rows), type(columns)

(list, list)

Create a variable `title` that contains the all of the movie titles.

In [24]:
# Three different ways to do the same thing.
title = df.loc[:, 'original_title']
title = df.iloc[:, 6]
title = df['original_title']
type(title)

pandas.core.series.Series

What type is the `title` variable?  If it is not a list, convert it to a list.

In [25]:
title = list(title)
type(title)

list

Verify that the length of the `title` list is the same as the number of rows in the dataframe.

In [26]:
len(title) == df.shape[0]

True

Write a line of code that returns the value of the 10th row of the "popularity" column

In [27]:
df.loc[9, 'popularity']

155.790452

Write a line of code that returns the last 10 rows of the columns "title", "release_date", and "budget" (in that order).

In [37]:
df.loc[4803-10:, ['title', 'release_date', 'budget']]
df.iloc[-10:, [17, 11, 0]]
df[['title', 'release_date', 'budget']].iloc[-10:, :]

                             title release_date  budget
4793                On The Downlow   2004-04-11       0
4794  Sanctuary: Quite a Conundrum   2012-01-20       0
4795                          Bang   1995-09-09       0
4796                        Primer   2004-10-08    7000
4797                        Cavite   2005-03-12       0
4798                   El Mariachi   1992-09-04  220000
4799                     Newlyweds   2011-12-26    9000
4800     Signed, Sealed, Delivered   2013-10-13       0
4801              Shanghai Calling   2012-05-03       0
4802             My Date with Drew   2005-08-05       0